name: Lint

on: [pull_request]

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  merge-conflict:
    name: Merge Conflict
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Check merge conflict
        run: grep "^<<<<<<< HEAD" $(git ls-files | xargs) && exit 1 || true
  misspell:
    name: Check Spelling
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v5
      - name: Install
        run: |
          wget -O - -q https://git.io/misspell | sh -s -- -b .
      - name: Misspell
        run: |
          git ls-files --empty-directory | xargs ./misspell -error
  trailing-whitespace:
    name: Trailing whitespace
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Check for trailing whitespace
        run: "! git grep -EIn $'[ \t]+$'"
